<div class="footer">
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 footCol">
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="<%=about_path%>">About Us</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="<%=platform_path%>">Our Digital Platform</a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="<%=exsearch_path%>">Executive Search & Selection</a>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <a href="<%=policy_path%>">Secure Data & Privacy Policy</a>
      </div>
      <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <a href="<%=contact_path%>">Contact Us</a>
      </div>
     </div>
     <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 footCol">
      <a href="https://www.linkedin.com/groups/3032718" target="_blank"><i class="fa fa-linkedin"></i></a>&nbsp;&nbsp;
      <a href="mailto:http://mailto:chris.forbes@phdit.com" target="_top"><i class="fa fa-envelope"></i></a>&nbsp;&nbsp;
      <a href="https://twitter.com/PhDSearch1" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
  </div>
</footer>